<div class="container div-register">
    <div class="card card-register">
      <div class="card-header">
        
        <h4>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
            </svg>
            Register
        </h4>
        
      </div>
      <div class="card-body">
        <form class="form-horizontal" action='' method="POST">
            <fieldset>
              <div class="mb-3">
                <!-- Username -->
                <label class="form-label"  for="username">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                    Username
                </label>

                  <input type="text" id="username" name="username" placeholder="" class="form-control" aria-describedby="emailHelp">
               
              </div>
           
              <div class="mb-3">
                <!-- Password-->
                <label class="form-label" for="password">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                      </svg>
                    Password
                </label>
                  <input type="password" id="password" name="password" placeholder="" class="form-control" aria-describedby="emailHelp">
              </div>
           
              <div class="mb-3">
                <!-- Password -->
                <label class="form-label"  for="password_confirm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                      </svg>
                    Password (Confirm)
                </label>
                  <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control" aria-describedby="emailHelp">
              </div>
           
              <div class="mb-3">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">Register</button>
                </div>
              </div>
            </fieldset>
          </form>
      </div>
    </div>
  </div>





