<?xml version="1.0" encoding="utf-8" ?>
<nlog 
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwException="false">

	<variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>
	<targets async="true">
		<target name="logfile" xsi:type="File" fileName="${LogDirectory}/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}"/>

		<target name="logconsole" xsi:type="ColoredConsole" 
				layout="${longdate} ${uppercase:${level}} ${message}"/>
		
		<target name="elastic" xsi:type="ElasticSearch" index="ministore-${date:format=yyyy.MM.dd}"
			   uri="http://localhost:9200"
			   layout ="API:ministore|${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" >
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="elastic" />
	</rules>
</nlog>